<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <div id="root"></div>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main
      class="flex flex-col items-center justify-center min-h-screen bg-gray-50 py-8"
    >
      
          
    </main>
    <footer>
      In Memory of Wilhelmina Pepper Givens <br />
      1941 - 2009 &copy; 2025 Pepper-Paray and march cohart all rights reserved.
    </footer>
  <script src="contact.bundle.js"></script>
  </body>
</html>
