<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <br />
      <h1>Welcome to Wilhelmina Legacy Tribute</h1>
      <p>
        This is the home page of my tribute of my grandmother wilhelmina whoever
        called mina.
      </p>
     <link  href="https://cdn.tukioswebsites.com/d88d37d6-4c05-48db-9805-ebb3cb18d3c1/lg">
      <p>
        Wilhelmina was born in 1941 in a small town in the gulf regional area of Louisanna.
        She lived through significant historical events, including World War II,
        and was known for her resilience and kindness.She had a passion for
        gardening and cooking, often sharing her delicious recipes with family
        and friends. Wilhelmina's legacy lives on through her children and
        grandchildren, who cherish the memories and values she instilled in
        them.
      </p>
      <p>
        She passed away in December of 2009, but her spirit continues to inspire
        those who knew her. This tribute page is dedicated to celebrating her
        life and the impact she had on her loved ones.
      </p>
    </header>
    <main></main>
    <footer>
      In Memory of Wilhelmina Pepper Givens <br />
      1941 - 2009 &copy; 2025 Pepper-Paray and march cohart all rights reserved.
    </footer>
  </body>
</html>
